{% extends 'base.html' %}

{% block content %}
    <h1>Title: {{ detail.title }}</h1>
    <p>Description: {{ detail.description }}</p>
    <h4>Created at: {{ detail.created_at }}</h4>
    <p>Create author: <i>{{ detail.author.username }}</i></p>
        {% for tag in p.tags.all %}
        <p>Topic: {{ tag }}</p>
        {% endfor %}
    <br>
    <a href="{% url 'project_view' %}">Back to all projects</a>
    {% if user == detail.author %}
        <hr>
        <a href="{% url 'project_update' detail.pk %}">Update my project</a>
        <hr>
        <a href="{% url 'project_delete' detail.pk %}">Delete my project</a>
    {% endif %}
{% endblock %}